/***** Document wide color schemes *****/
:root {
    --dark-back-color: #333;
    --dark-back-font-color: #fff;
    --odd-colors: #d3d3d3;
    --even-colors: #808080;
}

/***** Settings for all elements *****/
* {
    padding: 0;
    margin: 0;
}

/***** Header bar settings *****/
.navbar {
    height: 90px;
    background: var(--dark-back-color);
    color: var(--dark-back-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.nav {
    padding: 10px 40px;
}

.nav-center {
    font-size: 24px;
    display: none;
}


/***** All pages settings *****/
/* Restricts the smallest supported screen size */
body {
    min-width: 320px;
}

.main {
    margin: 50px 20px;
    text-align: center;
}

button {
    margin: 30px;
    padding: 5px 15px;
    background: var(--dark-back-color);
    color: var(--dark-back-font-color);
    border-radius: 10px;
}

.odd {
  background-color: var(--odd-colors);
}

.even {
  background-color: var(--even-colors);
}

.active {
  background-color: orange;
}


/***** Instruction page settings *****/


/***** Score page settings *****/
.highscores {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.button-group {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

td {
    padding: 5px 30px;
}


/***** Question page and results page settings *****/
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
}

.cards, .results {    
    display: none;
}

.question {
    text-align: justify;
}

.answer-buttons {
    display: block;
    margin: 10px 30px;
}

.status-content {
    width: 125px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    display: none;
}

.status-bars {
    display: none;
    padding: 5px;
    text-align: center;
    /* Only put borders on 2 sides to keep width the same for adjacent boxes */
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}


/* Setting adjustments based on small screen sizes */
@media (min-width: 480px) {
    /* Converts the header bar from two rows to one for larger screens */
    .navbar {
        height: 45px;
        flex-direction: row;
    }
}

@media (min-width: 685px) {
    /* Shows the "Code Quiz" in the header for larger screens */
    .nav-center {
        display: block;
    }
}

@media (min-width: 750px) {
    /* Shows the question summary for larger screens */
    .status-bars {
        display: block;
    }
}